:root{
--main-color:#e6cb45;
--secondary-color: #000000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


ul{
  display: flex;
  list-style: none;
  margin: 2rem 2rem;
}

a{
  text-decoration: none;
  color: #000000;
}

.nav-item,
.nav-btn{
  padding: 0.6rem;
}

.nav-btn:hover{
  background-color: var(--secondary-color);
  color: white;
}
.nav-item:hover{
  background-color: var(--main-color);
}

.nav-bar{
  display: flex;
  justify-content: space-between;
}
