:root{
--main-color:#e6cb45;
--secondary-color: #000000;
}
/* core styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p{
  font-weight: 400;
}


ul{
  display: flex;
  list-style: none;
  margin: 0.2rem 0.8rem;
  padding: 0.2rem 0.2rem;
}

a{
  text-decoration: none;
  color: #000000;
}

button{
  height: 97px;
  padding: 0 24px;
  background-color: #ffffff;
  border: none;
}

button:hover{
  border-bottom: solid 2.5px #000;
}
svg{
  max-width: 100%;
  fill: inherit;
}

.container{
  max-width: auto;
  /* padding: 1.5rem;
  margin: auto; */
  overflow: hidden;

}

/* navbar */
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 6rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.nav-item,
.nav-btn,#nav-btn{
  padding: 1rem 0.5rem;
  border-radius: 5%;
}

.nav-btn{
  border: black solid 2px;
}

#nav-btn:hover,
.nav-btn:hover{
  background-color: var(--secondary-color);
  color: white;
}
.nav-item:hover{
  background-color: var(--main-color);
}

.heading-center{
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.heading-text{
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

/* body */
#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.section-a{
  background: URL("../img/Optimized-city.jpg") no-repeat center center/cover;
  height: 100vh;
}

.lead-text{
text-align: center;
margin: auto;
width: 50%;
padding-top: 150px;
line-height: 1.5;
z-index: 2;
}

.lead-heading,
.lead-p{
  color: white;
}

.lead-heading{
  font-size: 44px;
  font-weight: 500;
}
.lead-p{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.lead-btn{
  padding: 1rem;
  margin: 1rem;
  background: var(--main-color);
  width: 500px;
  border-radius: 3px;
}

.lead-btn:hover{
  text-decoration: underline;
}

.undershowcase{
  display: flex;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 5rem;
  margin-top: 0.1rem;
  /* border-bottom: solid 0.1px #8c8c8c; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.left,
.right{
  padding: 1rem;
}

.left{
  border-right: solid 1px #8c8c8c;
}

.analytics{
  display: flex;
  flex-direction: row-reverse;
  margin: 3rem;
  padding: 1rem;
}

.analytics #datascreen{
  margin: 3rem;
  height: auto;
  max-width: 150%;
  width: 150%;

  border: 20px solid black;
  border-radius: 20px;
}

.icon{
  margin-right: 30px;
}

.analytics-text-item{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  line-height: 1.5;
}


/* carosel */

#section-2-heading{
  margin: 1rem 2rem;
}
.carosel-wrap{
}

.carosel{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-flow: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
