:root{
--main-color:#fcc93d;
--secondary-color: #000000;
}
/* core styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p{
  font-weight: 400;
}


ul{
  display: flex;
  list-style: none;
  margin: 0.2rem 0.4rem;
  padding:0;
}

a{
  text-decoration: none;
  color: #000000;
}

button{
  height: 97px;
  padding: 0 24px;
  background-color: #ffffff;
  border: none;
}

button:hover{
  border-bottom: solid 2.5px #000;
}
svg{
  max-width: 100%;
  fill: inherit;
}

.container{
  max-width: auto;
  /* padding: 1.5rem;
  margin: auto; */
  overflow: hidden;

}

/* navbar */
.nav-bar{
  display: flex;
  padding: 0 7rem;
  justify-content: space-between;
  margin-top: 0.1rem;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-item,
.nav-btn,#nav-btn{
  padding: 1rem 0.5rem;
  border-radius: 5%;
}

.nav-btn{
  border: black solid 2px;
}

#nav-btn:hover,
.nav-btn:hover{
  background-color: var(--secondary-color);
  color: white;
}
.nav-item:hover{
  background-color: var(--main-color);
}

.heading-center{
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.heading-text{
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

/* body */
#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.section-a{
  background: URL("../img/Optimized-city.jpg") no-repeat center center/cover;
  height: 100vh;
}

.lead-text{
text-align: center;
margin: auto;
width: 50%;
padding-top: 150px;
line-height: 1.5;
z-index: 2;
}

.lead-heading,
.lead-p{
  color: white;
}

.lead-heading{
  font-size: 44px;
  font-weight: 500;
}
.lead-p{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.lead-btn{
  padding: 1rem;
  margin: 1rem;
  background: var(--main-color);
  width: 500px;
  border-radius: 3px;
}

.lead-btn:hover{
  text-decoration: underline;
}

.undershowcase{
  display: flex;
  padding: 1rem;
  margin-bottom: 5rem;
  /* border-bottom: solid 0.1px #8c8c8c; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.left,
.right{
  padding: 1rem;
}

.left{
  border-right: solid 1px #8c8c8c;
}

.analytics{
  display: flex;
  flex-direction: row-reverse;
  margin: 3rem;
  padding: 1rem;
}

.analytics #datascreen{
  margin: 3rem;
  height: auto;
  max-width: 150%;
  width: 150%;

  border: 20px solid black;
  border-radius: 20px;
}

.icon{
  margin-right: 30px;
}

.analytics-text-item{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  line-height: 1.5;
}


/* carosel */

#section-2-heading{
  margin: 1rem 2rem;
}
.carosel-wrap{
  overflow: hidden;
  width: 100%;
}

.carosel{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-flow: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-img{
  max-width: 100%;
  width: 500vw;
  align-items: center;
  justify-content: center;
  align-content: center;
  transform-style: preserve-3d;
}

.carosel-images{
top: 0;
height: auto;
width: 100%;
margin: auto;
z-index: 1;
display: none;
transition: ease-in;
opacity: 1
}


.carosel-images.opaque{
  display: block;
  opacity:1;

    transition: 1s ease-out;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=1);
}

#research-heading{
justify-content: center;
align-items: center;
align-self: center;
}

.grey{
  background-color: #e3e3e3;
}

.carosel-wrap-2{
  overflow: hidden;
  width: 90%;
}

.carosel{
  transform-style: preserve-3d;
}

.carosel-photo{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index:100;
  transition: transform .5s, opacity .5s, z-index.5s;

}

.carosel-photo.initial,
.carosel-photo.active{
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carosel-next,
.carosel-prev{
z-index: 800;
}

.carosel-photo.prev{
    transform:  translateX(-100%);
}
.carosel-photo.next{
  transform:  translateX(100%);
}

.carosel-prev,.carosel-next{
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10001;
  border-radius: black solid 1px;

}
.carosel-prev{
  left: 0;
}
.carosel-next{
  right: 0;
}

.carosel-prev::after,
.carosel-next::after{
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carosel-next::after{
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}